.App {
  --nav-bar-height: 10vh;
  --bar-list-item-height: 4em;
  --bar-list-item-border-width: 1px;
}

.NavBar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: var(--nav-bar-height);
}

.NavBar__Button {
  --border-width: 1px;
  width: calc((100vw / 3) - 2 * var(--border-width));
  height: 100%;
  display: inline-block;
  background-color: #222;
  color: #eee;
  border: var(--border-width) solid #444;
  border-top: 0;
  line-height: var(--nav-bar-height);
  user-select: none;
  text-align: center;
}

.NavBar__Button--current {
  background-color: #333;
}

.PageMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - var(--nav-bar-height));
}

.FillContainerExceptLeaveRoomForBarListItemAtBottom {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(
    100% - var(--bar-list-item-height) - var(--bar-list-item-border-width)
  );
  width: 100%;
  overflow: auto;
}

.BarList {
  padding: 0;
  margin: 0;
  border: 0;
}

.BarListItem {
  width: 100%;
  height: var(--bar-list-item-height);
  line-height: var(--bar-list-item-height);
  display: inline-block;
  padding: 0;
  margin: 0;
  user-select: none;
  list-style: none;
  border-top: var(--bar-list-item-border-width) solid;
}

.BarListItem--stamp {
  background-color: #222;
  color: #eee;
  border-color: #444;
}

.BarListItem--stamp--tentativeStamp {
  background-color: #111;
  color: #eee;
}

.BarListItem__Label {
  margin-left: 1em;
  color: #222;
}

.BarListItem--event {
  background-color: #eee;
  color: #222;
  border-color: #ccc;
}

.BarListItem__Name {
  margin-left: 1em;
}

.BarListItem__Button {
  margin-left: 1em;
}

.BarListItem__Button--stamp {
  border: 1px solid #888;
  background-color: transparent;
  color: #ddd;
}

.BarListItem__Button--event {
  border: 1px solid #ccc;
  background-color: #eee;
}

.BarListItem__Button--event--finalDelete {
  border: 1px solid #c88;
  background-color: #fcc;
}

.PageMenu--home__PreviousEvent .BarListItem {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eee;
  color: #222;
  border-color: #ccc;
}

.PageMenu--events {
  --events-menu-navbar-height: 8vh;
}

.PageMenu--events__EventsMenuNavBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--bar-list-item-height);
  line-height: var(--bar-list-item-height);
  width: 100%;
  background-color: #eee;
  border-top: var(--bar-list-item-border-width) solid #ccc;
  border-bottom: var(--bar-list-item-border-width) solid #ccc;
}

.PageMenu--events__EventsMenuNavBar__Button {
  --width: 20%;
  width: var(--width);
  height: 100%;
  background-color: transparent;
  border: none;
  border-right: 1px solid #ccc;
  margin: 0;
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
}

.PageMenu--events__EventsMenuNavBar__Button--active {
  background-color: #ddd;
}

.PageMenu--events__EventsMenuNavBar__Button--list {
  left: 0;
}

.PageMenu--events__EventsMenuNavBar__Button--stats {
  left: calc(1 * var(--width));
}

.PageMenu--events__EventsMenuNavBar__Button--export {
  left: calc(2 * var(--width));
}

.BarListItem--event__TimeInput {
  margin-left: 1em;
  color: black;
  outline: none;
}

.BarListItem--event__TimeInput--invalid {
  color: red;
}

.Duration {
  color: #eee;
  padding: 0.1em;
  border-radius: 0.1em;
}

.Duration--final {
  background-color: #24b;
}

.Duration--active {
  background-color: #284;
}

.DaysWithStats {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  min-width: 100%;
}

.DayStats {
  margin-left: 1em;
}

.DayStats__TimeDistribution {
  display: inline-block;
}
