.App {
  --nav-bar-height: 10vh;
}

.NavBar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: var(--nav-bar-height);
}

.NavBar__Button {
  --border-width: 1px;
  width: calc((100vw / 3) - 2 * var(--border-width));
  height: 100%;
  display: inline-block;
  background-color: #222;
  color: #eee;
  border: var(--border-width) solid #444;
  border-top: 0;
  line-height: var(--nav-bar-height);
  user-select: none;
  text-align: center;
}

.NavBar__Button--current {
  background-color: #333;
}

.PageMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - var(--nav-bar-height));
}

.PageMenu--home {
  --stamps-height: 85%;
}

.PageMenu--home__Stamps {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--stamps-height);
  width: 100%;
}

.BarList--containerFilling {
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.BarListItem {
  --border-width: 1px;
  width: 100%;
  height: 2em;
  line-height: 2em;
  display: inline-block;
  padding: 0;
  margin: 0;
  user-select: none;
  list-style: none;
  border-top: var(--border-width) solid;
}

.BarListItem--stamp {
  background-color: #222;
  color: #eee;
  border-color: #444;
}

.BarListItem--event {
  background-color: #eee;
  color: #222;
  border-color: #ccc;
}

.BarListItem__Name {
  margin-left: 1em;
}

.BarListItem__Button {
  margin-left: 1em;
}

.BarListItem__Button--stamp {
  border: 1px solid #444;
  background-color: #222;
}

.BarListItem__Button--event {
  border: 1px solid #ccc;
  background-color: #eee;
}

.PageMenu--home__PreviousEvent .BarListItem--stamp {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eee;
  color: #222;
}
